[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/nativefiledialog"]
	path = vendor/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
